:root{
    /* Tipografías */

  /* Font Family */
  --font-primary: "Lato", sans-serif; /* Fuente principal */

   /* Font Sizes */
  --font-size-20: 1.67rem;
  --font-size-31: 2.6rem;
  --font-size-40: 3.33rem;
  --font-size-47: 3.92rem;
  --font-size-60: 5rem;
  --font-size-61-14: 5.1rem;

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-ligth: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* interlineado */
  --font-line--spacing: 94.5%;
  --font--interletraje: 11%;

  /* colores */
  --color--btn: #83C252;
  --color-line-var:#F39E46; 
  --color-contour-blue:#1B428F;
  --color-contour-blue--ligth:#2982FF;
  --color--background--blue: #5829BF;
  --color--background--orange: #EFB71E;
  --color--title--board: #9D2121;
  --color--background-gradiente-ligthgreen: #88DE7F;
  --color--background-gradiente-ligthblue: #A8EBEC;
  --color--box--shadow: #02187E;
  --color--gradient-violet: #a80ea1;
  --color--gradient-pink: #e04eb2;
  --color--gradient-greey: #3d363b;
  --color-gradiente-yelow:#ffda73;
  --color-input:#ECECEC;
  /* spacing */
  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 14px;
  --spacing-2-15: 15px;
  --spacing-3: 20px;
  --spacing-4: 22px;
  --spacing-4-28: 28px;
  --spacing-4-32: 32px;
  --spacing-4-36: 36px;
  --spacing-5: 41px;
  --spacing-5-43: 43px;
  --spacing-5-46: 46px;
  --spacing-6: 50px;
  --spacing-7: 55x;
  --spacing-8: 62px;
  --spacing-8-1: 65px;
  --spacing-8-2: 68px;
  --spacing-9: 80px;
  --spacing-10: 100px;
  --spacing-10-102: 102px;
  --spacing-10-165: 165px;
  --spacing-11: 175px;
  --spacing-11-186: 186px;
  --spacing-12: 243px;
  --spacing-13: 267px;
  --spacing-13-274: 274px;
  --spacing-14: 298px;
  --spacing-19: 731px;
  
  

}

*{
    margin:0;
    padding: 0;
    font-family: var(--font-primary);
    line-height: var(--font-line--spacing);
}
body{
    width: 1280px;
    height: auto;
}
h1{
    font-size: var(--font-size-61-14);
    font-weight: var(--font-weight-bold);
  
}
h2{
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-bold);
}
h3{
    font-size: var(--font-size-47);
    font-weight: var(--font-weight-bold);
}
h4{
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-regular);
}
p{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-regular);
}

h3.title-section-2, p.p-section2{
    color: var(--color-contour-blue);
}
h1.h1-section2, h2.h2-section4{
    color: white;
}
h1.h1-section2{
    display: inline-block; 
    word-wrap: break-word;        
    margin-bottom: var(--spacing-8);
    width: 1250px;
    text-align: center;
    margin-left: var(--spacing-10-165);
    margin-right: var(--spacing-10-165);
}
h2.h2-section5{
    color: var(--color--title--board);
}
.container-section1{
    width: 1280px;
    height: 959px;
    position: relative;
    background-size: cover;   /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-image: url('svg/fondo.svg');
}

.container-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Puedes ajustar el tamaño del contenedor según el tamaño del ícono */
    height: 100px; /* Ajusta también el alto según el ícono */
    margin-left: var(--spacing-10);
    margin-top: var(--spacing-3);
}
.container-logo-bar{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%;
}
button.buy{
    margin-right:var(--spacing-10); 
}
.fa-bars{
    color:var(--color-line-var);
    font-size: var(--font-size-40);
    position: absolute;
    
}
.fondo-bar{
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los botones horizontalmente */
    gap: 0px;
}
.btn-fondo-bar{
    background-color: white;
    width: 65px;
    height: 8px;
    border: 8px solid white;
    border-radius: 11px;
    margin: 0;
}
.btn-fondo-bar.ultimo{
    box-shadow: 4px 4px var(--color--box--shadow);
}
.btn-fondo-bar.central, .btn-fondo-bar.primero {
    box-shadow:  4px 0 var(--color--box--shadow);
}
.buy{
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    color: white;
    background-color: var(--color--btn);
    border: 8px solid white;
    border-radius: 111px;
    box-shadow: 4px 4px   var(--color--box--shadow);/* desplazamiento horizontal desplazamiento vertical color */
}
.container-logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position:relative;
}
.img-1 {  
    transform: translateX(411px);
    position: relative;
    z-index: 1;
}
.img-2{
    transform:translateX(250px) translateY(-150px);
}
.img-3{
    transform:translateX(170px) translateY(-60px);
}

.container-degrade{
    position: relative;
    margin-top: 0;
    width: 1280px;
    height: 3024px;
    background: linear-gradient(to bottom, var(--color--background-gradiente-ligthgreen),var(--color--background-gradiente-ligthblue),var(--color--background-gradiente-ligthblue)) ;
    z-index:1;
}
.container-degrade::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Color blanco para el área definida por clip-path */
    clip-path: path('M 1280,100 Q 960,0 640,100 T 0,100 L 0,200 L 1280,200 Z'); /* Forma onda */
    pointer-events: none; /* Asegúrate de que el pseudo-elemento no interfiera con la interacción */
    transform: translateY(734px);
}
.cards-app{
    position: relative;
    background-color: white;
    width: 1280px;
    height: 1090px;
    z-index:2;
    transform: translateY(-1350px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   /* Una columna completa */
    grid-template-rows: auto; /* Ajusta la altura de las filas */
    
    
}
.img-per-5 {
    transform:translateX(787px) translateY(-550px);
    position: relative;
    z-index: 3;
}
.card-1{
    transform:translateX(-236px) translateY(-910px);
    position: relative;
    z-index: 1;
}
.img-per-4 {
    transform:translateX(48px) translateY(-1050px);
    position: relative;
    z-index: 3;
}

.container-card-app{
    transform: translateY(380px);
   
}
.container-card-app img{
    margin-bottom: var(--spacing-4);
    padding-left: var(--spacing-5);
}
.container-card-app p{
    margin-bottom: var(--spacing-10);
    padding-right: var(--spacing-5);
    padding-left: var(--spacing-5);
}



.container-blue{
    background-color: var(--color--background--blue);
    width: 1280px;
    height: 1157px;
    position: relative;
    padding-top: var(--spacing-11);
    z-index:3;
    transform:translateY(-1350px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-blue::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Color blanco para el área definida por clip-path */
    clip-path: ellipse(60% 10% at 50% 0); /* Forma elíptica */
    pointer-events: none; /* Asegúrate de que el pseudo-elemento no interfiera con la interacción */
}
.container-blue img{
    position: relative;
    transform:translateY(104px);
}
.btn-descarga{
    background-color: var(--color--btn);
    color: white;
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--font--interletraje);
    font-size: var(--font-size-20);
    padding-left: var(--spacing-8-1);
    padding-right: var(--spacing-8-1);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    border: 8px solid white;
    border-radius: 111px;
    box-shadow: 4px 4px   var(--color--box--shadow);/* desplazamiento horizontal desplazamiento vertical color */
}
.container-section-3{
    position: absolute;
    background-color: white;
    width: 1280px;
    height: 5521px;
    transform: translateY(300px) ;
    
}
.container-img-p{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;   /* Una columna completa */
    grid-template-rows: 1; /* Ajusta la altura de las filas */
    margin-bottom: var(--spacing-13);
    align-items: center;
}
.container-img-p img{
    margin-left: var(--spacing-12);
    grid-column: 1;
    grid-row: 1; /* Cada imagen ocupa una fila por separado */
    
}
.container-section-3 h2{
    margin-left: var(--spacing-10);
    margin-top: var(--spacing-11);
    margin-bottom: var(--spacing-8-2);
    grid-column: 1;
    
}

.container-img-p h4{
    margin-bottom: var(--spacing-2-15);
 }
.container-img-p p, .container-img-p h4{
    display: block;
    grid-column: 2;
}
.container-p-h4{
    grid-column: 2;
    grid-row: 1;
}
.img-3-1, 
.img-3-2, 
.img-3-3, 
.img-3-4, 
.img-3-5, 
.img-3-6, 
.img-3-7, 
.img-3-8, 
.img-3-9, 
.img-3-10  {
    display: none;

}
.container-img-p .img-visible{
    width: 291px;  /* Asegura que la imagen ocupe el 100% del espacio de su celda */
    height: 436px;
}
.p-ultimo{
    margin-bottom: var(--spacing-10-165);
}
.container-section-4 {
    background-color: var(--color--background--orange);
    width: 1280px;
    height: 1443px;
    position:relative;
    transform: translateY(6055px);
}
.container-section-4::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Color blanco para el área definida por clip-path */
    clip-path: path('M 0,0 L 1280,0 L 1280,50 Q 960,100 640,50 T 0,50 Z'); /* Forma onda */
    pointer-events: none; /* Asegúrate de que el pseudo-elemento no interfiera con la interacción */
    transform: translateY(-1px);
}
h2.h2-section4 {
   transform: translateY(354px);
   margin-left: var(--spacing-10);
   margin-top: var(--spacing-14);
}
.img3-section4{
    position: relative;
    margin-left: var(--spacing-19);
}
.container-section-5{
    background-color: white;
    width: 1280px;
    height: 1760px;
    transform: translateY(5950px);
    margin-top: var(--spacing-14);
}
.container-section-5::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Color blanco para el área definida por clip-path */
    clip-path: ellipse(80% 6% at 50% 100%); /* Forma elíptica */
    pointer-events: none; /* Asegúrate de que el pseudo-elemento no interfiera con la interacción */
    transform: translateY(-1900px);
   
}
.h2-section5 {
    position: relative;
    width: 896px;
    height: 345px;
    z-index: 1;
    margin-left: var(--spacing-10-102);
    margin-bottom: var(--spacing-5-43);
}
.p-section5 {
    transform: translateY(40px);
    margin-left: var(--spacing-10);
    width: 597px;
    margin-bottom: var(--spacing-14);
} 
.container-section-5 img.per-4{
    width: 567px;
    position: relative;
    transform: translate(789px, -840px);    
}
.containergnral-img-gradient{
    transform: translateY(-790px);
}
.container-img-gradient{
    background: linear-gradient(to right, 
                                         var(--color--title--board),
                                         var(--color--background--orange),
                                         var(--color-gradiente-yelow),
                                         var(--color--btn),
                                         var(--color--background-gradiente-ligthblue)
                                         ) ;
   
    width: 1280px;
    height: 364px;
    position: relative;
    display: grid; /* Activamos el grid */
    place-items: center; /* Centra el contenido dentro del contenedor */
   
}
.container-img-gradient2{
    background: linear-gradient(to right, 
                                         var(--color--gradient-violet),
                                         var(--color--background--orange),
                                         var(--color--gradient-pink),
                                         var(--color--gradient-greey),
                                         var(--color--background-gradiente-ligthblue)
                                         ) ;
   
    width: 1280px;
    height: 364px;
    position: relative;
    display: grid; /* Activamos el grid */
    place-items: end center; /* Centra el contenido dentro del contenedor */
   
}
.container-img-x5{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Crea 5 columnas */
    gap: 20px;
}

.container-section-6{
    background-color: white;
    background-image: url(svg/fondo-sec-6.svg);
    width: 1280px;
    height: 1572px;
    transform: translateY(5950px);
    margin-top: var(--spacing-11-186);
}
.container-section-6 h2{
    width: 1016px;
    margin-left: var(--spacing-10);
    margin-bottom: var(--spacing-4-36) ;
}
.input-subscription{
    margin-left: var(--spacing-10);
    width: 562px;
    height: 20px;
    padding-left: var(--spacing-4-28);
    padding-top: var(--spacing-4-32);
    padding-bottom: var(--spacing-4-28);
    padding-right: var(--spacing-11);
    background-color: var(--color-input);
    border: 8px solid white;
    border-top-left-radius: 111px;
    border-bottom-left-radius: 111px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 4px 4px   var(--color--box--shadow);
    transform: translateY(-2px);
}
.input-subscription::placeholder{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-regular);

}
button.subscription {
    
    margin-left: var(--spacing-10);
    padding: var(--spacing-4-28);
    color: white;
    background-color: var(--color--btn);
    border: 8px solid white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 111px;
    border-bottom-right-radius: 111px;
    box-shadow: 4px 4px   var(--color--box--shadow);
    transform: translateX(-112px);
}
.TEEN-ERSB{
    margin-left: var(--spacing-10);
    margin-top: var(--spacing-0);
}
.nube-left{
    transform: translateX(-340px) translateY(210px) rotate(180deg);
    
}
.nube-right{
    transform: translateX(310px) translateY(-60px);
    width: 387px;
    height: 181px;
}
.nube-1-right{
    width: 265px;
    height: 124px;
    transform: translateX(840px) translateY(-650px);

}
.loma {
    transform: translateY(-1250px);
}
.per-1sec-7{
    transform: translateX(780px) translateY(-820px);
    position: relative;
    z-index: 2;
    
}
.per-2sec-7{
    transform: translateX(-740px) translateY(90px);
    position: relative;
    z-index: 3;
}
.per-3sec-7{
    transform: translateX(160px) translateY(110px);
    position: relative;
    z-index: 6;
}
.container-section-6 p{
    margin-top: var(--spacing-5-46);
    margin-left: var(--spacing-10);
    width: 770px;

}
.title-and-p{
    display: flex;
    flex-direction: column;
    margin-left:var(--spacing-10);
    margin-top: var(--spacing-7);
}
.title-section-2 {
    display: inline-block;            /* Permite que el ancho se ajuste al contenido */
    width: 508px;                   /* Ajusta el ancho máximo (ajústalo según tus necesidades) */
    word-wrap: break-word;            /* Permite que el texto se ajuste en líneas múltiples */
    margin-bottom: var(--spacing-4);
}
.p-section2{
    display: inline-block;            /* Permite que el ancho se ajuste al contenido */
    width: 704px;                   /* Ajusta el ancho máximo (ajústalo según tus necesidades) */
    word-wrap: break-word;
}

footer.p{
    letter-spacing: var(--font--interletraje);
}

button.buy, button.subscription{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-black);
    letter-spacing: var(--font--interletraje);
}

input.subscription{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-regular);
}