.carrousel-container h2 {
    margin-left: 25px
}

.carrousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
.carrousel-item {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    flex-basis: 180px;
    border-radius: 8px;
    padding: 12px;
    color: #ffffff;
    transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
  
.carrousel-item:hover {
    transform: scale(1.04) translateY(-8px);
}
  
.game-card {
    width: 100%;
    height: 140px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
  
.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
  
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
}
  
.game-card:hover .card-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
  
.card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  
.game-title {
    color: white;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 5px;
}
  
.game-card:hover .game-title {
    opacity: 1;
}
  
.pro-tag {
    background-color:  var(--color-naranja);
    color: black;
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: 8px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-extra-bold);
    text-transform: uppercase;
    margin-top: 5px;
    /*
    box-shadow: 0 0 0.5em 0 var(--color--neon--amarillo), 0 0 0.5em 0 var( --color--neon--amarillo);*/
}
  
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.buy-button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.game-card:hover .buy-button,
.game-card:hover .play-icon {
    opacity: 1;
}
  
.price {
    color: white;
    font-size: var(--font-size-12);
    font-weight: bold;
    background-color: rgba(51, 51, 51, 0.4);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: 8px;
}
  
.play-icon {
    font-size: 48px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute; 
    top: 50%;          
    left: 50%;        
    transform: translate(-50%, -50%);
}
  
.cart-message {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: var(--color-accent);
    color: white;
    padding: 1px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
    font-size: 12px;
    z-index: 10;
}

  /* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  .carrousel-item {
      min-width: 150px; /* Más pequeño */
      flex-basis: 150px; /* Más pequeño */
  }

  .game-card {
      height: 120px; /* Más pequeño */
  }

  .game-title {
      font-size: 10px; /* Más pequeño */
  }

  .pro-tag {
      font-size: 8px; /* Más pequeño */
  }

  .price {
      font-size: 12px; /* Más pequeño */
  }

  .play-icon {
      font-size: 28px; /* Más pequeño */
  }
}

/* Responsivo para pantallas muy pequeñas */
@media (max-width: 480px) {
  .carrousel-item {
      min-width: 120px; /* Más pequeño */
      flex-basis: 120px; /* Más pequeño */
  }

  .game-card {
      height: 80px; /* Más pequeño */
  }

  .game-title {
      font-size: 8px; /* Más pequeño */
  }

  .pro-tag {
      font-size: 6px; /* Más pequeño */
  }

  .price {
      font-size: 10px; /* Más pequeño */
  }

  .play-icon {
      font-size: 24px; /* Más pequeño */
  }
}