
/*page game-detail */
.container--game {
    display: flex;
    justify-content: center; /* Centra los elementos dentro de la columna 
    /*align-items: center;*/
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-white);
    position: relative;
    margin-left: var(--spacing-9);
  }
  
  .container--img {
    /*contenedor de imagen 4 en linea: POKEMON */
    width: 1054px;
    height: 512px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .img--4enlinea {
    /* imagen 4 en linea: POKEMON */
    width: 100%;
    position: relative;
    margin-left: var(--spacing-4);
  }
  
  .title--container--game{
    /* titulo 4 en linea: POKEMON */
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-1);
    margin-left: var(--spacing-5);
    color: var(--color-white);
    top: var(--spacing-1);
    left: var(--spacing-1);
    z-index: 2;
  }
  
  .container--icon {
    /* contenedor icono jugar */
    width: 103px;
    height: 103px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-60%, 0);
    box-shadow: 0 0 3em 0 #ffb3fd, 0 0 3em 0 #ffb3fd;
  }
  
  #gamepad {
    /* icono jugar */
    font-size: 500%;
    font-size: var(--font-size-40);
    transition: transform 0.5s ease;
  }
  
  #gamepad:hover {
    transform: rotate(360deg);
  }
  
  .container--icon--compartir {
    /* contenedor icono compartir*/
    width: 42px;
    height: 42px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--spacing-3);
    right: var(--spacing-1);
  }
  
  .container--icon--compartir i {
    /*icono compartir*/
    font-size: 100%;
  }
  
  .contenedor--subtitulo--4enlinea i,
  h1 {
    /*estrellas y subtitulo: 4.0*/
    display: inline;
    font-size: var(--font-size-24);
    margin-right: var(--spacing-1);
  }
  
  .contenedor--subtitulo--4enlinea {
    position: relative;
    margin-top: 132px;
    margin-left: var(--spacing-5);
  }
  
  .contenedor--subtitulo--4enlinea i {
    /* estrellas*/
    color: var(--color-naranja);
  }
  
  .contenedor--subtitulo--4enlinea h1 {
    /* subtitulo: 4.0*/
    color: var(--color-white);
  }
  
  .contenedor--reglas--juego--preview {
    /*contenedor general de reglas y pre visualizacion*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 234px;
    margin-left: var(--spacing-9);
    margin-right: var(--spacing-8);
    margin-bottom: var(--spacing-0);
  }
  
  .contenedor--reglas--juego {
    /*contenedor reglas*/
    width: 479.51px;
    height: 284px;
    margin-top: 132px;
    flex: 1;
    margin-bottom: 132px;
  }
  
  .contenedor--preview--juego {
    /*contenedor pre visualizacion*/
    margin-top: 132px;
    flex: 1;
  }
  
  .contenedor--regla {
    /*item regla*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contenedor--regla i,
  h3 {
    /*iconos y h3*/
    display: inline-block;
    font-size: var(--font-size-24);
    margin-bottom: var(--spacing-1);
  }
  
  .h3--regla {
    /*h3 de regla*/
    margin-left: var(--spacing-1);
  }
  
  hr .linea {
    /*linea*/
    border: 1px solid var(--color-primary);
    width: 50%;
    margin: var(--spacing-3) auto;
  }
  
  .img--preview--juego {
    /*imagen pre visualizacion del juego*/
    max-width: 100%;
    height: auto;
  }
  
  .container--especificacion--juego {
    /*contenedor desplegable especificaiones*/
    width: 415.51px;
    height: auto;
    background-color: var(--background-color);
    border-radius: 4px;
    align-items: center;
    padding: var(--spacing-5);
  }
  
  .container--especificacion--juego p {
    /*parrafos desplegable especificaiones*/
    font-size: var(--font-size-16);
    color: var(--color-white);
    text-indent: 0;
    text-align: left;
  }
  
  .container--especificacion--juego img {
    /*imagen desplegable especificaiones*/
    width: 80%;
    height: auto;
    display: block;
    justify-items: center;
    align-items: center;
  }
  
  details {
    /*recurso para animacion*/
    padding: 0.5em 0.5em 0;
  }
  
  summary {
    /*recurso para animacion*/
    padding: 0.5em;
  }
  
  details > summary {
    list-style: none;
  }
  
  details[open] {
    padding: 0em;
  }
  
  details[open] summary {
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
  }
  
  .contenedor--comentarios {
    margin-top: var(--spacing-10);
    width: 1054px;
    height: auto;
    position: relative;
    text-align: left;
  }
  
  .contenedor--img--info--usuario {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-6);
    padding: var(--spacing-0);
  }
  
  .contenedor--info--usuario {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-0);
    padding: var(--spacing-0);
  }
  
  .contenedor--img--info--usuario {
    margin-left: var(--spacing-9);
  }
  
  .img--avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: var(--spacing-0);
    margin-right: var(--spacing-1);
  }
  
  .contenedor--comentarios {
    margin-bottom: var(--spacing-7);
  }
  
  .contenedor--comentarios .title--container--game.h3 {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-size-24);
    color: var(--color-white);
  }
  .contenedor--calificar {
    margin-top: var(--spacing-2);
    margin-left: var(--spacing-9);
  }
  
  .contenedor--calificar.p {
    padding: var(--spacing-0);
    margin-right: var(--spacing-1);
  }
  
  .contenedor--calificar i,
  p {
    display: inline;
    font-size: var(--font-size-16);
    margin-right: var(--spacing-0);
    color: var(--grey-400);
  }
  p.Nombre--usuario--p {
    font-size: var(--font-size-16);
    color: var(--grey-400);
    margin: var(--spacing-0);
    padding: var(--spacing-0);
  }
  
  p.mail--usuario--p{
    font-size: var(--font-size-12);
    color: var(--grey-600);
    margin: var(--spacing-0);
    padding: var(--spacing-0);
  }
  
  .contenedor--calificar {
    margin-top: var(--spacing-2);
    margin-left: var(--spacing-9);
  }
  
  .contenedor--calificar.p {
    padding: var(--spacing-0);
    margin-right: var(--spacing-1);
  }
  
  
  .contenedor-text-area {
    margin-left: var(--spacing-9);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
  }
  
  .contenedor-text-area textarea {
    background: var(--body-color);
    background: transparent;
    border-radius: 4px;
    width: 974px;
    height: 200px;
  }
  
  .contenedor-text-area textarea::placeholder {
    font-family: "Roboto", sans-serif;
  }
  
  .contenedor-text-area--p {
    display: inline;
    font-size: var(--font-size-12);
    color: var(--grey-600);
    margin-left: 940px;
  }
  
  .game-detail--btn--primary--Enviar,
  .game-detail--btn--Outline--Eliminar{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-size-12);
  }
  
  .btn--primary--Enviar {
    border: none;
    border-radius: 4px;
    background: var(--color-primary);
    color: white;
    margin-right: var(--spacing-1);
    margin-left: var(--spacing-9);
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    padding-bottom: var(--spacing-1);
    padding-top: var(--spacing-1);
  }
  
  .btn--Outline--Eliminar {
    background: var(--background-color);
    color: white;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    padding-bottom: var(--spacing-1);
    padding-top: var(--spacing-1);
  }
  
  #comentario {
    margin: var(--spacing-0);
  }
  
  .contenedor--calificar--comentario {
    /*margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);*/
    display: flex;
    align-items: center;
    justify-content: first baseline;
  }
  
  .contenedor--calificar--comentario--p {
    font-size: var(--font-size-12);
    color: var(--grey-600);
    margin-left: var(--spacing-0);
    margin-right: var(--spacing-1);
  }
  
  .contenedor--calificar--comentario i {
    margin-left: var(--spacing-1);
    color: var(--color-naranja);
  }
  
  .contenedor--calificar--estrellas {
    margin-right: var(--spacing-1);
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-1);
    display: flex;
  }
  
  .contenedor--comentario--realizado {
    margin-left: var(--spacing-9);
    margin-bottom: var(--spacing-1);
    margin-top: var(--spacing-1);
  }
  
  .contenedor--comentario--realizado p.comentario {
    color: white;
    font-size: var(--font-size-16);
    margin-bottom: var(--spacing-2);
  }
  
  hr.linea--comentario--realizado {
    align-items: center;
    width: 974px;
    border: none;
    border-top: 0.2px solid var(--grey-600);
    margin: var(--spacing-1) var(--spacing-0);
  }
  
  button i {
    margin-right: var(--spacing-1);
  }
  
  .btn--primary--VerComentarios {
    background: var(--color-primary);
    width: 200px;
    border-radius: 4;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-12);
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    padding-bottom: var(--spacing-1);
    padding-top: var(--spacing-1);
    margin-right: var(--spacing-1);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-9);
  }
  /*
  .contenedor--Comunidad {
    margin-left: var(--spacing-0);
  }
  
  .contenedor--comunidad--img {
    margin-top: var(--spacing-4);
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  
  .contenedor--comunidad--img::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra 
  }
  
  .contenedor--comunidad--img::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 4px;
  }
  
  .contenedor--comunidad--img::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .elemento {
    flex: 1 0 auto;
    margin: var(--spacing-0) var(--spacing-1);
  }
  
  hr.linea--bold {
    width: 974px;
    border-top: 0.5px solid var(--color-white);
  }
  
  .contenedor--especificaciones--avatar {
    width: auto;
    height: auto;
    background-color: var(--color-primary);
    border-radius: 4px;
    align-items: center;
  }
  
  .contenedor--especificaciones--avatar a {
    display: inline-block;
    text-align: left;
    font-size: var(--font-size-12);
    color: var(--color-white);
    text-indent: 0;
    padding: var(--spacing-1);
  }
  
  .contenedor--especificaciones--avatar i {
    margin-right: var(--spacing-1);
  }
  
  .contenedor--comunidad--img details[open] summary {
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 0.5em;
  }
  
  .contenedor--comentario--realizado {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
  }
  */

 .contenedor--Comunidad {
    margin-top: var(--spacing-3);
    padding: 0;
    max-width: 1200px;
 }

 .h3-comunidad{
    margin-top: var(--spacing-1);
 }
 .users {
    padding: 50px 0 5px 0;
 }

 .swiper {
    width: 100%;
    margin: 0;
    padding: 0;
 }

 .swiper-slide {
    background-color:transparent;
    background-position: center;
    background-size: cover;
    width: 100px;
    padding: var(--spacing-6);
 }

 .swiper-slide img {
    display: block;
    width: 150%;
    border-radius: 50%;

 }

 .icons {
    
    display: flex;
    justify-content: center;
 }

.icons i {
    font-size: 25px;
    color:var(--grey-700);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i:hover {
    color:var(--color-primary);
}