/* INICIO NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  background-color: black;
  height: 67px;
}

.navbar__logo {
  position: absolute;
  left: 48%;
}

.navbar__link {
  color: white;
  text-decoration: none;
  font-size: var(--font-size-24);
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__item--gap-16 {
  gap: var(--spacing-2);
}

.navbar__link {
  color: white;
  text-decoration: none;
  font-size: var(--font-size-normal);
  margin-left: var(--spacing-2);
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__search {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
}

.navbar__search__input {
  padding: var(--spacing-1) 40px var(--spacing-1) var(--spacing-1);
  border: none;
  border-radius: var(--spacing-1);
  margin: 0.5rem;
  background-color: var(--grey-800);
}

.navbar__search__icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.navbar__button {
  padding: var(--spacing-1) var(--spacing-2);
  border: none;
  border-radius: var(--spacing-1);
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  margin-left: var(--spacing-1);
}

.navbar__button:hover {
  background-color: var(--color-secondary);
}

.navbar__button--outline {
  border: 1px solid white;
}

.navbar__hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: var(--spacing-3);
}

.navbar__line {
  height: 3px;
  width: 25px;
  background-color: var(--grey-600);
  margin: 4px 0;
}

.navbar__user {
  display: flex;
  align-items: center;
  color: white;
  gap: var(--spacing-1);
}

.navbar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.navbar__user-info {
  text-align: right;
}

.navbar__user-name {
  font-weight: var(--font-size-normal);
}

.navbar__user-alias {
  color: var(--grey-400);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
}
