#navbar {
  height: 103px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.5s ease;
}

#navbar.solid {
  background: linear-gradient(180deg, #00d1d5 70%, rgba(0, 209, 213, 0) 100%);
}

.navbar-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
  top: -10px;
}

.menu-toggle {
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 34px;
  border-radius: 15px;
  border: 4px solid white;
  overflow: hidden;
  box-shadow: 4px 4px var(--color--box--shadow);
  position: relative;
  background-color: white;
  transition: all 0.2s linear;
}

.bar-display-none {
  display: none;
}

.bar.bar-rotate-left {
  transform: rotate(45deg) translateX(-1.5px);
  box-shadow: none;
}
.bar.bar-rotate-rigth {
  transform: rotate(-45deg) translateY(-10px) translateX(8px);
  box-shadow: none;
}

.bar--content {
  width: 100%;
  height: 4px;
  background-color: #f39e46;
  border-radius: 4px;
}

.buy {
  width: 200px;
  font-weight: 900;
  font-size: 20px;
  line-height: 18.9px;
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  color: white;
  background-color: var(--color--btn);
  border: 8px solid white;
  border-radius: 50px;
  box-shadow: 4px 4px var(--color--box--shadow);
  box-sizing: border-box;
}

.logo {
  display: block;
  position: absolute;
  top: 100px;
  left: 260px;
  transition: all 0.5s ease;
}
